*.log
*.iws
*.iml
*.ipr
.idea
*~
*.cache
*.log
*.pid
*.tmproj
*.sw?
*.rbc
*.sassc
tmp/**/*
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/public/system/*
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html