#CardsContainer{
    position:relative;
}

.card{
    width: 314px;
    height: 442px;
    background: url("/images/cards.png") no-repeat;
    padding:1px 0 0 0;
}

.cardHeader{
    font-weight:bold;
    font-size:1.2em;
    margin: 50px 5px 30px 20px;
}

.cardProperties{
    margin: 5px 5px 5px 20px;
}

#RightCard{
    position:relative;
    left:30px;
}