<head>
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/cards.less">
  <script src="/scripts/less-1.1.0.min.js" type="text/javascript"></script>
</head>
<body>
<div id="CardsContainer" class="cardContainer">
  <div id="RightCard" class="right card">
  </div>
  <div id="LeftCard" class="left card">
    <div class="cardHeader"><%= @card2.name %></div>
    <img src="/images/fedex.jpg" alt="player">
    <div class="cardProperties">
    <% @property_names.each do |property_name| %>
        <div class="cardProperty">
          <%= link_to property_name, :action => 'result', :game => @game,
            :name => @card2.name, :other_name => @card1.name,
            :property => property_name.to_s %>
         </div>
    <% end %>
    </div>
  </div>

</div>
</body>